# Local .terraform directories
**/.terraform/*
infra/base/.terraform/*
infra/models/.terraform/*
*.tfstate
*.tfstate.*

# microservices
services/MapMatching/notebooks/*    
services/MapMatching/test/*    
services/MapMatching/test.env
